.card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 24px;
  flex: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.monthly-spend {
  color: white;
  background-color: black;
}

.spend-breakdown {
  border-color: lightgray;
  border-width: 1px;
  border-style: solid;
}

.title {
  margin-bottom: 32px;
  font-size: 1.2em;
  font-weight: 500;
}

.total-cost {
  margin-bottom: 8px;
}

.subtext {
  font-weight: 400;
  color: rgb(240, 240, 240);
  font-size: 0.9em;
  margin-bottom: 16px;
}

.cost-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cost-container-margin {
  margin-bottom: 4px;
}

.amount {
  color: white;
  font-weight: 500;
  font-size: 0.9em;
}

.cost {
  font-weight: 300;
  color: lightgray;
  font-size: 0.9em;
}

.spend-breakdown-title {
  font-weight: 400;
  font-size: 0.9em;
}

.spend-breakdown-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.spend-breakdown-items {
  font-weight: 500;
}

.spend-breakdown-amount {
  color: gray;
}

.spend-breakdown-container {
  margin-bottom: 8px;
}
