.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 4.0rem;
  padding-right: 4.0rem;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 24px;
  padding-bottom: 24px;
}